<h1>Zona de administración</h1>
 <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
 <%end%>
<br/>
<%= form_tag sessions_path do %>
 <div class="clearfix">
   <%= label_tag  :nombre  %> 
    <div class='input'>
   <%= text_field_tag :nombre,params[:nombre]%>
 	</div>
 </div> 
<div class="clearfix">
  <%= label_tag  :password  %> 
   <div class='input'>
   <%= password_field_tag :password%>
   </div>
 </div>
  <div class="actions">
   <%=submit_tag('Enviar', :class=>'btn primary') %>
 </div>
 <%end%>

 
