<%= form_for(@section) do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% @section.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
  <div class="clearfix">
    <%= f.label :tituloes %>
    <div class='input'>
    <%= f.text_field :tituloes %>
  	</div>
  </div>
  <div class="clearfix">
    <%= f.label :tituloen %> 
    <div class='input'>
    	<%= f.text_field :tituloen %>
  	</div>
  </div>
  </fieldset>
  <div class="actions">
    <%= f.submit('Guardar',:class=>'btn primary') %>
  </div>
  
<% end %>
