<table>
  <tr>
    <th>Titulo es</th>  
    <th>Titulo en</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @section.projects.each do |project| %>
  <tr>
  
    <td><%= project.tituloes%></td>
    <td><%= project.tituloen%></td>
    <td><%= link_to 'Ver', project %></td>
    <td><%= link_to 'Editar', edit_project_path(project) %></td>
    <td><%= link_to 'Borrar', project, confirm: 'Estas seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>
