<h1>Listado de proyectos</h1>

<table>
  <tr>
    <th>Tituloes</th>
    <th>Tituloen</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.tituloes %></td>
    <td><%= project.tituloen %></td>
    <td><%= link_to 'Ver', project %></td>
    <td><%= link_to 'Editar', edit_project_path(project) %></td>
    <td><%= link_to 'Eliminar', project, :confirm=> 'Estas seguro?', :method=> :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo proyecto', new_project_path %>
