

 <h1> Proyecto <%= @project.tituloes %> /  <%= @project.tituloen %></h1>
<p id="notice"><%= notice %></p>
<h3>Parrafos del proyecto</h3>

<%= render 'paragraphs/paragraphs'%>
<%=link_to 'Añadir parrafo',new_paragraph_path(:id=>@project,:tipo=>'project')%>
<h2>Galeria de proyecto <%=@project.tituloes%></h2>
<%=render 'galleries/photos'%>
<%= link_to 'Añadir imagen a la galeria',new_photo_path(:id=>@gallery)%>

<br/>
<br/>
<%= link_to 'Editar', edit_project_path(@project) %> |
<%= link_to 'Volver ', @project.section %>
