
	<%= form_tag enrails_contact_path,:id => 'form' , :method => :post do %>	
	<fieldset>	
		
  		<div class="clearfix">
			<label for="Name">Nombre:</label>
				<div class='input'>
					<%= text_field_tag :name %>
				</div>
		</div>
		<div class="clearfix">
			<label for="Email">Email:</label>
				<div class='input'>
					<%= text_field_tag :email %>
				</div>
				
		
		</div>	
		
		<div class="clearfix">
			<label for="Message">Mensaje:</label>
				<div class="input">
					
					<%=text_area_tag :text%>
					
				</div>
				
		</div>
		
		<div class="actions">
		 <%= submit_tag 'Enviar',:class=>'btn primary',:id=>'enviar'%>
		</div>
	<%end%>

	<div style="clear: both;"></div>

