
<h1><%=@project.tituloes%></h1>
<div style='clear:both;'>
<%@project.paragraphs.each do |paragraph|%>
	<h2><%=paragraph.tituloes%></h2>
	
	<div style='float:right ; margin:2em;'>
  	<%if paragraph.photo.image_url.to_s!=''%>
   	<%=link_to image_tag(paragraph.photo.image_url(:thumb).to_s,:size=>'140x128',:alt=>paragraph.photo.tituloes), paragraph.photo.image_url.to_s,:rel=>'prettyPhoto',:title=>paragraph.photo.tituloes%>
  	<%end%>
	</div>
	<p><%=simple_format(paragraph.textoes)%></p>
	
<%end%>
</div>

<div style=' clear:both;'>
<br/>

<%@project.gallery.photos.each do |photo|%>
<%=link_to image_tag(photo.image_url(:thumb).to_s,:size=>'72x72',:alt=>photo.tituloes), photo.image_url.to_s,:rel=>'prettyPhoto[pp_gal]',:title=>photo.tituloes%>
<%end%>

</div>
