<h1>Párrafos de la sección</h1>

<table>
  <tr>
    <th>Título es</th>
    <th>Texto es</th>
    <th>Título en</th>
   	 <th>Texto en</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @paragraphs.each do |paragraph| %>
  <tr>
    <td><%=paragraph.tituloes%></td>
    <td><%= truncate(paragraph.textoes,:lenght=>'6') %></td>
    <td><%=paragraph.tituloen%></td>
    <td><%= truncate(paragraph.textoen,:lenght=>'6') %></td>
  
    <td><%= link_to 'Ver', paragraph %></td>
    <td><%= link_to 'Editar', edit_paragraph_path(paragraph) %></td>
    <td><%= link_to 'Borrar', paragraph, confirm: 'Estas seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Añadir párrafo', new_paragraph_path %>
