<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="https://plus.google.com/111725881951236454211" rel="publisher" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>enRails</title>
<%= stylesheet_link_tag('style') %>
<%= javascript_include_tag('application')%>

</head>

<body id="home">
<div id="fb-root"></div>
<script>
$(document).ready(function() {
   $("#logo").hover(function() {
     alert("Hello world!");
   });
 });
</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=100461830066517";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="all">
    
	<div id="container">
		<div id="header">
		   
			<h1><%=link_to image_tag('enrails.png',:size=>'16x16',:id=>'logo'),root_path%>&nbsp;<em>en</em>Rails</h1>
			<ul>
				<%=render 'enrails/sections'%>
				
			</ul>
		</div>
		<div class="block rounded">
			<h3>We are ridind <em>the rails</em></h3>
		</div>
		
	
		<div id="content">
			<%=yield%>
		</div>
		<div class="block rounded">
			<p>enRails ©2011 enRails</p>
		</div>
	</div>
</div>
</body>
</html>
